/* .dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .content-header h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dashboard-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .entry-edit {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .entry-edit h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
  } */

  .homepage-layout {
    min-height:100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Üst: header, Orta: içerik, Alt: footer */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
   
    
      gap: 15px;
    }
  
    .homepage-layout > Header {
      grid-row: 1/2; /* Header üstte */
      width: 100%;
      background-color: #f8f8f8;
      padding: 20px;
      text-align: center;
    }
  
    .homepage-layout > .content {
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Kartların yan yana sıralanması */
      gap: 20px; /* Kartlar arasındaki boşluk */
      padding: 20px;
      width: 100%;
      justify-items: center;
      box-sizing: border-box;
      margin-right:300px;
    }
    .admincontent iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
    
    .homepage-layout > Footer {
      grid-row: 3 / 4;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    }
    