/* Sayfa yapısı */
.homepage-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: padding-left 0.2s ease;
}


.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  box-sizing: border-box;
  padding-bottom: 120px; /* Footer alanı kadar boşluk */
  margin-top: 64px; /*header yüksekliği kadar boşluk */
  padding: 24px;
  

}

/* Sabit footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0; /* Sidebar yoksa sıfır */
  right: 0;
  background-color: #f8f8f8;
  padding: 16px 24px;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* İçerik hizalama */
.pagination-inside-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-text {
  font-size: 14px;
  color: #888;
}
