/* ProductDetailsCard.css */
.product-details-card {
  padding: 20px;
}

.product-details-row {
  margin-top: 10px;
}

.product-details-title {
  font-size: 24px;
  font-weight: bold;
}

.product-details-price {
  font-size: 18px;
  font-weight: bold;
  color:black;
}

.product-details-description {
  margin-top: 10px;
  font-size: 16px;
}

.product-details-button {
  margin-top: 20px;
  width: 800px;
}
.buttons{
  display: flex;
  justify-content:center;
  align-items: center;
}
.favoriteButton {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px; 
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.favoriteButton:hover {
  background-color: rgba(255, 0, 0, 0.1); /* Hover efekti */
}

.favoriteButton.active {
  color: red; /* Aktifken renk değişir */
}

.image-container {
  position: relative;
  width: 100%;
}

.zoom-image {
width: 100%;
height: auto;
  transition: transform 0.3s ease;
}

.image-container:hover .zoom-image {
  transform: scale(1.2);
}

.small-image{
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .product-details-row {
    flex-direction: column; /* Küçük ekranlarda içerikler dikey sıraya geçer */
  }

  .product-details-card {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    flex: 1 1 auto; /* Resim boyutu sabit kalır */
  }

  .product-details-content {
    flex: 1 1 0; /* Diğer içerikler esneyip küçülür */
  }

  .product-details-button {
    width: 100%; /* Buton genişliği küçülür */
  }
}

.size-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size-box {
  padding: 8px 12px;
  border: 0.1px solid #121111;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  min-width: 30px;
  
}

.size-box:hover {
  border-color:#fd702d;
}

.size-box.selected {
  border-color:#fd702d;
  background-color: #e6f7ff;
}

.size-box.out-of-stock {
  color: #f1f1f1;
  border-color: #f0f0f0;
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.size-label {
  font-weight:bold;
}

.size-stock {
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif;
}
.extra-collapse {
  margin-top: 24px;
}

.extra-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.extra-info-list li {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.description-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 5px;
}

/* Her maddeye farklı stil */
.font-style-0 {
  font-family: Georgia;
  color: #333;
  font-size: 13px;
}

.font-style-1 {
  font-family: "Georgia";
  color:#333;
  font-size: 13px;
}

.font-style-2 {
  font-family: Georgia;
  color: #333;
  font-size: 13px;
}
