.profile-settings {
    padding: 20px;
    background: #f3eeee;
    border-radius: 8px;
    border:3px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .profile-form-container{
    padding: 20px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border:1px solid rgb(129, 125, 125);
    width: 700px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  } 
 
  .profile-settings img {
    border-radius: 50%;
  }
  
  .useravatar{
    width: 100%;
     height: 100%;
     margin-top: 10px; 
  }
  .userinfo{
    width:500px;
  }